html, body {
     height: 100%;
     margin: 0px;
     font-family: 'PressStart2P', sans-serif;
     color: white;
     text-align: center;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     transition: all 2s ease;
}
 body {
     min-height:540px;
     touch-action: manipulation;
}
 body[orient="portrait"] {
     min-height:540px;
}
 body[orient="landscape"] {
     min-height:400px;
}
 html {
     position: fixed;
}
 input {
     text-align: center;
     color:#FFCC00;
}
 ::placeholder {
     color: white;
     opacity: 1;
     text-align:center;
}
 #landing_page {
     display: block;
}
 #flash {
     position: fixed;
     height:100%;
     width:100%;
     top:0;
     left:0;
     background-color: white;
     pointer-events: none;
     transition: all 0.5s;
     opacity: 0;
     z-index:99999;
}
 #car_buttons {
     display: none;
     z-index: 6;
}
 #left_arrow {
     width:inherit;
     pointer-events: none;
}
 #right_arrow {
     width:inherit;
     pointer-events: none;
     transform: rotate(180deg);
}
 #up_arrow {
     margin-top:10px;
     width:inherit;
     pointer-events: none;
     transform: rotate(270deg);
}
 #down_arrow {
     margin-top:10px;
     width:inherit;
     pointer-events: none;
     transform: rotate(90deg);
}
 #BG_bubble {
     position: fixed;
     width:100%;
     height:90%;
     bottom:0;
     left:0;
     z-index: 2;
}
 @font-face {
     font-family: "MTN_FONT";
     src: url("fonts/font.ttf") format("truetype");
}
 .car_button {
     width:30%;
     position:fixed;
     z-index: 6;
}
 #car_1 {
     bottom:20%;
     left:15%;
}
 #car_2 {
     bottom:35%;
     left:15%;
}
 #car_3 {
     bottom:50%;
     left:15%;
}
 #car_4 {
     bottom:65%;
     left:15%;
}
 #car_5 {
     bottom:20%;
     left:55%;
}
 #car_6 {
     bottom:35%;
     left:55%;
}
 #car_7 {
     bottom:50%;
     left:55%;
}
 #car_8 {
     bottom:65%;
     left:55%;
}
 #boost_button {
     position: absolute;
     right:10px;
     top:10px;
     background-color:rebeccapurple;
     border-radius: 15px;
     opacity:0.9;
     width:160px;
     height:160px;
}
 #acc_button {
     position: absolute;
     left:10px;
     top:10px;
     background-color:rebeccapurple;
     border-radius: 15px;
     opacity:0.9;
     width:160px;
     height:160px;
}
 #rev_button {
     position: absolute;
     left:10px;
     top:100px;
     background-color:rebeccapurple;
     border-radius: 15px;
     opacity:0.9;
     width:160px;
     height:160px;
}
 #resetIMG {
     height:100%;
     margin-left:-2.5px;
     pointer-events: none;
}
 #boostIMG {
     height:100%;
     pointer-events: none;
     transform: rotate(-90deg);
}
 .labelo {
     position:relative;
     top:-90px;
     color:black;
}
 .labelo2 {
     position:relative;
     top:-50px;
     color:black;
}
 .labelo3 {
     color:black;
}
 #reset_button {
     position: fixed;
     right:70px;
     top:25px;
     background-color:rebeccapurple;
     border-radius: 15px;
     opacity:0.9;
     height:15%;
     width:10%;
     margin-left:10%;
     transform: rotate(-90deg);
}
 #reset_button2 {
     position: fixed;
     right:70px;
     top:275px;
     background-color:rebeccapurple;
     border-radius: 15px;
     opacity:0.9;
     height:10%;
     width:30%;
     margin-right:-10%;
     padding-top:15px;
}
 .green {
     background-color: green;
}
 #right_button {
     position: absolute;
     right:10px;
     bottom:10px;
     background-color:rebeccapurple;
     border-radius: 15px;
     opacity:0.9;
     width:160px;
     height:160px;
}
 #left_button {
     position: absolute;
     left:10px;
     bottom:10px;
     background-color:rebeccapurple;
     border-radius: 15px;
     opacity:0.9;
     width:160px;
     height:160px;
}
 #header_bubble {
     position: fixed;
     height:70%;
     top:10%;
     right:0;
     z-index: 3;
}
 #start_button {
     position: fixed;
     height:30px;
     line-height: 30px;
     width:50%;
     bottom:25%;
     left:25%;
     text-align:center;
     z-index: 4;
     background-color: black;
     border: 4px solid #4195fc;
    /* some kind of blue border */
     color:#4195fc;
    /* other CSS styles */
    /* round the corners */
     -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
     border-radius: 14px;
    /* make it glow! */
     -webkit-box-shadow: 0px 0px 4px #4195fc;
     -moz-box-shadow: 0px 0px 4px #4195fc;
     box-shadow: 0px 0px 4px #4195fc;
    /* some variation of blue for the shadow */
}
 .STARTBUTTON {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 1080px;
     height: 1920px;
     z-index: 13;
}
 .START {
     font-size: 133.331px;
     font-family: "Comfortaa";
     color: rgb(0, 255, 29);
     font-weight: bold;
     line-height: 1.2;
     text-align: center;
     -moz-transform: matrix( 0.44978223254325,0,0,0.45000876444892,0,0);
     -webkit-transform: matrix( 0.44978223254325,0,0,0.45000876444892,0,0);
     -ms-transform: matrix( 0.44978223254325,0,0,0.45000876444892,0,0);
     position: absolute;
     left: 322.877px;
     top: 1091.001px;
     z-index: 12;
}
 .Rounded_Rectangle_1 {
     border-width: 2.51px;
     border-color: rgb(0, 255, 30);
     border-style: solid;
     position: absolute;
     left: 305px;
     top: 1085px;
     width: 466.98px;
     height: 164.98px;
     z-index: 11;
}
 .Rounded_Rectangle_1_copy {
     background-color: rgb(0, 0, 0);
     opacity: 0.6;
     position: absolute;
     left: 337px;
     top: 1115px;
     width: 407px;
     height: 109px;
     z-index: 10;
}
 .Rounded_Rectangle_1_copy_2 {
     background-color: rgb(0, 0, 0);
     opacity: 0.329;
     position: absolute;
     left: 322px;
     top: 1102px;
     width: 437px;
     height: 135px;
     z-index: 9;
}
 #name_input {
     position:fixed;
     z-index: 4;
     left:5%;
     top:40%;
     background-color:#000000;
     border: 4px solid #4195fc;
     color:#4195fc;
     opacity:0.7;
     border-color: black;
     border-radius: 35px;
     font-size:25px;
     width:90%;
     height:15%;
}
 input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
     border: 1px solid green;
     -webkit-text-fill-color: green;
     -webkit-box-shadow: 0 0 0px 1000px #000 inset;
     transition: background-color 5000s ease-in-out 0s;
}
/* Following works on landscape view */
 @media only screen and (max-width: 640px) and (orientation: landscape) {
     #landscape_warning {
         position:fixed;
         color:black;
         top:50%;
         left:20%;
         font-family: MTN_FONT;
         z-index:20;
    }
     #reset_button {
         position: fixed;
         right:270px;
         top:101px;
         bottom:100px;
         background-color:rebeccapurple;
         border-radius: 15px;
         opacity:0.9;
         height:35%;
         width:20%;
         pointer-events: none;
         display: none;
    }
     #boost_button {
         position: absolute;
         right:1px;
         top:-10px;
         background-color:rebeccapurple;
         border-radius: 15px;
         opacity:0.9;
         transform: scale(0.7);
         width:25px;
         height:25px;
    }
     #left_button {
         position: absolute;
         left:250px;
         bottom:10px;
         background-color:rebeccapurple;
         border-radius: 15px;
         opacity:0.9;
         width:160px;
         height:160px;
    }
}
 #loginPage {
     position:fixed;
     padding:0;
     margin:0;
     display:block;
     top:0;
     left:0;
     width: 100%;
     height: 100%;
     background: url(art/BG.png) ;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     overflow-x: hidden;
     overflow-y: hidden;
}
 #mtnLogo {
     height: 150px;
     width: 150px;
     margin-top: 30px;
}
 #userNameInput {
     background-color: transparent;
     background: url(InputPanel.png) no-repeat;
     color: black;
     background-size: 100% 100%;
     outline: none;
     text-align: center;
     width: 400px;
     height: 60px;
     font-size: 200%;
     letter-spacing: 3px;
     color: #000000;
     font-weight: 100;
}
 #goButton {
     height: 15%;
     width: auto;
     margin-top: 30px;
}
 #playPage {
     position:fixed;
     display:none;
     padding:0;
     margin:0;
     top:0;
     left:0;
     width: 100%;
     height: 100%;
     background-color:black;
     background-size: 100%;
     overflow-x: hidden;
     overflow-y: hidden;
}
 #namePanel {
     position: fixed;
     margin-bottom: 1%;
     bottom:0;
     text-align:center;
     margin-left:32%;
}
 #scorePanel {
     position: relative;
     text-align: center;
     color: black;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
 .centeredText {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
 .controlButton {
     position: absolute;
     border-color: #000000;
     padding:10px;
     background-color: aqua;
     opacity: 0.5;
}
 #reverse_button {
     height:30%;
     width:35%;
     margin-left:5%;
     margin-top:5%;
}
 #accel_button {
     height:30%;
     width:35%;
     margin-left:55%;
     margin-top:5%;
}
 #power_button {
     height:25%;
     width:35%;
     margin-top:60%;
     margin-left:55%;
}
